PFAS-optimizer
#Name,CompoundType,ProcessType,Min,Max,Precision[,stock solution name with same compound, concentration factor]^n
DMSO,liquid,solvent,0,0.9,0.1
MeCN,liquid,solvent,0,0.9,0.1
EtOH,liquid,solvent,0,0.9,0.1
iPrOH,liquid,solvent,0,0.9,0.1
#MeOH,liquid,solvent,0,0.9,0.1
#H20,liquid,solvent,0,0.9,0.1
#Acetone,liquid,solvent,0,0.9,0.1
K2HPO4,solid,base,0,36,2
Na2HPO4,solid,base,0,30,2

Constraints
##### Expression >=0 - avoid constants ######
0.9 - DMSO - MeCN - EtOH - iPrOH
DMSO + MeCN + EtOH + iPrOH -0.9

# Complements
### Name A : Name B order dependent with list of compounds above ###
