PFAS-optimizer
#Name,CompoundType,ProcessType,Min,Max,Precision[,stock solution name with same compound, concentration factor]^n
DMSO,liquid,solvent,0,0.9,0.1
MeCN,liquid,solvent,0,0.9,0.1
Acetone,liquid,solvent,0,0.9,0.1
EtOAc,liquid,solvent,0,0.9,0.1
K2HPO4,solid,base,0,0.2,0.02
Na2HPO4,solid,base,0,0.2,0.02
K3PO4,solid,base,0,0.2,0.02
K2CO3,solid,base,0,0.2,0.02
Cs2CO3,solid,base,0,0.2,0.02

Constraints
##### Expression >=0 - avoid constants ######
0.9 - DMSO - MeCN - Acetone - EtOAc

# Complements
### Name A : Name B order dependent with list of compounds above ###
